
.custom-item{
  position: relative;
  padding: 7px 15px 7px 50px;
  line-height: 21px;
  font-size: 12px;
  color: #8b8f97;
  border-bottom: 1px solid #e6ebed;
  display:table;
  table-layout:fixed;
  text-align: left;
}

.custom-item span{
  
  display:table-cell;
  width:200px;
  
}

/*red lines*/
.custom-item:before {
  content: '';
  width: 3px;
  z-index: 2;
  border: 1px solid #f2e3df;
  border-width: 0 1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 35px;
}


/*checkbox box*/
.custom-item .toggle:before, .custom-item .deactivated_toggle:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #faf9f9;
  border: 1px solid #6bb3ca;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  left: 9px;
  -webkit-box-shadow: 0 1px 1px #dfecf4;
  -moz-box-shadow: 0 1px 1px #dfecf4;
  box-shadow: 0 1px 1px #dfecf4;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .toggle:after, input[type=checkbox]:checked + .deactivated_toggle:after  {
  opacity: 1;
}

.custom-item .toggle:hover:before, .custom-item .deactivated_toggle:hover:before {
-webkit-box-shadow: 0 0 3px #6bb3ca;
-moz-box-shadow: 0 0 3px #6bb3ca;
box-shadow: 0 0 3px #6bb3ca;
}

.custom-item .toggle {
  display: block;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-indent: 100%;
  overflow: hidden;
  cursor: pointer;
}
.custom-item .deactivated_toggle {
  display: block;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  text-indent: 100%;
  overflow: hidden;
}

.custom-item .toggle:before, .custom-item .deactivated_toggle:before {
  content: '';
  width: 15px;
  height: 15px;
  background: #faf9f9;
  border: 1px solid #6bb3ca;
  border-radius: 2px;
  position: absolute;
  top: 9px;
  left: 9px;
  -webkit-box-shadow: 0 1px 1px #dfecf4;
  -moz-box-shadow: 0 1px 1px #dfecf4;
  box-shadow: 0 1px 1px #dfecf4;
}

.toggle:after, .deactivated_toggle:after {
  content: '';
  position: absolute;
  position: absolute;
  width: 7px;
  height: 3px;
  background: transparent;
  top: 14px;
  left: 13px;
  border: 2px solid #aaa;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  opacity: 0;
}