
#INTELJ
.idea/


dartabase_migration/db/configMySQL.json
dartabase_migration/db/configPGSQL.json
dartabase_migration/db/migrations/20130623043400_create_player.json
dartabase_migration/db/migrations/20130623043401_create_player2.json

#Dart
dartabase.iml

#Dartabase
packages/
pubspec.lock
.settings/

dartabase_migration/db/
dartabase_migration/bin/projectsMapping.json

