.createMigration {
    width: 800px;
    height: 500px;
    padding: 5px;
    box-sizing: border-box;
}

paper-input {
    width: 25%;
    height: 45px;
}

.text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.card {
    width: 90%;
    padding: 15px;
    border-radius: 2px;
    text-align: start;
    background: #fff;
    z-index: 2;
    margin: auto;
}

.chip {
    display: inline-block;
    position: relative;
    border-radius: 3px;
    margin: 4px;
    overflow: hidden;
    text-align: start;
    background-color: #fff;

}

.chip-container {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}
 